.Home-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    align-items: center;
    justify-content: center;
}

.Home-wrapper h2 {
    text-transform: uppercase;
    font-size: 30px;
}

.Home-wrapper p {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

.Home-wrapper .home-text {
    height: 80%;
    width: 90%;
    background-color: #00000062;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    border: 2px solid #ffffff10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    backdrop-filter: blur(5px);
}

@media screen and (max-width: 550px) {

    .Home-wrapper {
        height: auto;
        justify-content: start;
        padding: 1em 0;
    }

    .Home-wrapper .home-text {
        gap: 0.5em;
        padding: 1.5em 0;
    }

    .Home-wrapper p {
        flex-direction: column;
        text-align: center;
    }
}