.Home-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    align-items: center;
    justify-content: center;
}

.Home-wrapper h2 {
    text-transform: uppercase;
    font-size: 30px;
}

.Home-wrapper p {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

.Home-wrapper .home-text {
    height: stretch;
    width: 100%;
    background-color: #0000003f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    backdrop-filter: blur(5px);
}

@media screen and (max-width: 550px) {
    .Home-wrapper p {
        flex-direction: column;
        text-align: center;
    }
}